.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #a0b819;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.icon-container {
  position: relative;
  display: inline-block;
}

.icon-container .hover-text {
  position: absolute;
  bottom: -30px; /* Adjust the position of the text */
  left: 50%;
  transform: translateX(-50%);
  color: white; /* Change text color if needed */
  font-size: 14px; /* Adjust size */
  background-color: rgba(0, 0, 0, 0.7); /* Background for better visibility */
  padding: 5px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.icon-container:hover .hover-text {
  visibility: visible;
  opacity: 1;
}
